In [88]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
data = pd.read_csv('CAX_Startup_Data.csv')

In [89]:
data = data[['Dependent-Company Status','Employee Count','Number of Investors in Seed','Number of Investors in Angel and or VC','Number of Co-founders','Number of of advisors','Team size Senior leadership','Number of of repeat investors','Worked in top companies','Have been part of startups in the past?','Have been part of successful startups in the past?','Was he or she partner in Big 5 consulting?','Consulting experience?','Local or global player','B2C or B2B venture?','Average Years of experience for founder and co founder','Breadth of experience across verticals','Years of education','Relevance of education to venture','Relevance of experience to venture','Experience in selling and building products','Dificulty of Obtaining Work force','Pricing Strategy','Time to market service or product','Barriers of entry for the competitors','Company awards','Disruptiveness of technology','Gartner hype cycle stage']]
data.head()

,Dependent-Company Status,Employee Count,Number of Investors in Seed,Number of Investors in Angel and or VC,Number of Co-founders,Number of of advisors,Team size Senior leadership,Number of of repeat investors,Worked in top companies,Have been part of startups in the past?,...,Relevance of education to venture,Relevance of experience to venture,Experience in selling and building products,Dificulty of Obtaining Work force,Pricing Strategy,Time to market service or product,Barriers of entry for the competitors,Company awards,Disruptiveness of technology,Gartner hype cycle stage
0,Success,3.0,2,0,1,2,2,4,No,No,...,Yes,Yes,Medium,Low,Yes,High,Yes,No,Low,NaN
1,Success,NaN,5,0,2,0,4,0,Yes,Yes,...,Yes,Yes,High,Medium,Yes,Low,Yes,No,Medium,Trough
2,Success,14.0,15,0,3,0,7,0,Yes,No,...,Yes,Yes,High,Medium,Yes,Low,Yes,No,Medium,Trough
3,Success,45.0,6,0,2,0,4,0,No,Yes,...,Yes,Yes,Low,Medium,Yes,Low,Yes,No,Medium,Trough
4,Success,39.0,7,0,1,1,8,0,No,No,...,Yes,Yes,High,Medium,Yes,Low,Yes,No,Medium,NaN

In [90]:
data = data.replace('No Info',np.nan)

In [91]:
data = data.dropna()

In [92]:
data['Employee Count'] = data['Employee Count'].astype(int)
data['Number of Investors in Seed'] = data['Number of Investors in Seed'].astype(int)
data['Number of Investors in Angel and or VC'] = data['Number of Investors in Angel and or VC'].astype(int)
data['Number of of repeat investors'] = data['Number of of repeat investors'].astype(int)
data['Number of Investors in Seed'] = data['Number of Investors in Seed'].astype(int)
data['Local or global player'] = data['Local or global player'].str.lower()
data

,Dependent-Company Status,Employee Count,Number of Investors in Seed,Number of Investors in Angel and or VC,Number of Co-founders,Number of of advisors,Team size Senior leadership,Number of of repeat investors,Worked in top companies,Have been part of startups in the past?,...,Relevance of education to venture,Relevance of experience to venture,Experience in selling and building products,Dificulty of Obtaining Work force,Pricing Strategy,Time to market service or product,Barriers of entry for the competitors,Company awards,Disruptiveness of technology,Gartner hype cycle stage
2,Success,14,15,0,3,0,7,0,Yes,No,...,Yes,Yes,High,Medium,Yes,Low,Yes,No,Medium,Trough
3,Success,45,6,0,2,0,4,0,No,Yes,...,Yes,Yes,Low,Medium,Yes,Low,Yes,No,Medium,Trough
5,Success,14,2,0,4,0,4,2,No,No,...,No,No,Low,Medium,Yes,Low,No,Yes,High,Trigger
6,Success,7,7,0,2,9,2,4,No,Yes,...,Yes,Yes,Low,Medium,Yes,Medium,Yes,No,Medium,Trigger
7,Success,29,0,0,3,4,4,0,No,Yes,...,Yes,Yes,Medium,Medium,Yes,Low,Yes,No,Medium,Slope
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
386,Failed,139,0,0,4,2,10,0,No,Yes,...,Yes,Yes,Medium,High,No,Low,No,Yes,High,Peak
387,Failed,26,0,0,2,0,4,0,No,No,...,Yes,Yes,None,High,No,Low,No,No,High,Trough
388,Failed,39,0,0,2,2,4,0,Yes,No,...,Yes,No,None,High,No,Medium,No,No,High,Trough
389,Failed,63,0,0,1,1,2,0,Yes,Yes,...,Yes,Yes,Medium,High,No,Medium,No,No,High,Peak
391,Failed,18,0,1,2,1,4,0,No,Yes,...,Yes,Yes,None,High,Yes,Low,No,No,High,Trigger

In [93]:
cat_vars=[
       'Worked in top companies', 'Have been part of startups in the past?',
       'Have been part of successful startups in the past?',
       'Was he or she partner in Big 5 consulting?', 'Consulting experience?',
       'Local or global player', 'B2C or B2B venture?',
       'Average Years of experience for founder and co founder',
       'Breadth of experience across verticals', 'Years of education',
       'Relevance of education to venture',
       'Relevance of experience to venture',
       'Experience in selling and building products',
       'Dificulty of Obtaining Work force', 'Pricing Strategy',
       'Time to market service or product',
       'Barriers of entry for the competitors', 'Company awards',
       'Disruptiveness of technology', 'Gartner hype cycle stage']
for var in cat_vars:
    cat_list='var'+'_'+var
    cat_list = pd.get_dummies(data[var], prefix=var)
    data1=data.join(cat_list)
    data=data1
    
    
cat_vars=['job','marital','education','default','housing','loan','contact','month','day_of_week','poutcome']
data_vars=data.columns.values.tolist()
to_keep=[i for i in data_vars if i not in cat_vars]

In [94]:
data_final=data[to_keep]

In [95]:
list1 = data['Dependent-Company Status'].to_list()
new_list = []

for x in list1:
    if x == 'Success':
        new_list.append(1)
    else:
        new_list.append(0)
        
len(list1)

192

In [96]:
data_final['status'] = new_list
data_final

,Dependent-Company Status,Employee Count,Number of Investors in Seed,Number of Investors in Angel and or VC,Number of Co-founders,Number of of advisors,Team size Senior leadership,Number of of repeat investors,Worked in top companies,Have been part of startups in the past?,...,Company awards_Yes,Disruptiveness of technology_High,Disruptiveness of technology_Low,Disruptiveness of technology_Medium,Gartner hype cycle stage_Peak,Gartner hype cycle stage_Plateau,Gartner hype cycle stage_Slope,Gartner hype cycle stage_Trigger,Gartner hype cycle stage_Trough,status
2,Success,14,15,0,3,0,7,0,Yes,No,...,0,0,0,1,0,0,0,0,1,1
3,Success,45,6,0,2,0,4,0,No,Yes,...,0,0,0,1,0,0,0,0,1,1
5,Success,14,2,0,4,0,4,2,No,No,...,1,1,0,0,0,0,0,1,0,1
6,Success,7,7,0,2,9,2,4,No,Yes,...,0,0,0,1,0,0,0,1,0,1
7,Success,29,0,0,3,4,4,0,No,Yes,...,0,0,0,1,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
386,Failed,139,0,0,4,2,10,0,No,Yes,...,1,1,0,0,1,0,0,0,0,0
387,Failed,26,0,0,2,0,4,0,No,No,...,0,1,0,0,0,0,0,0,1,0
388,Failed,39,0,0,2,2,4,0,Yes,No,...,0,1,0,0,0,0,0,0,1,0
389,Failed,63,0,0,1,1,2,0,Yes,Yes,...,0,1,0,0,1,0,0,0,0,0
391,Failed,18,0,1,2,1,4,0,No,Yes,...,0,1,0,0,0,0,0,1,0,0

In [11]:
data_final.to_csv('Clean.csv',index=False)

In [97]:
data_final = data_final.drop(['Dependent-Company Status',
       'Worked in top companies', 'Have been part of startups in the past?',
       'Have been part of successful startups in the past?',
       'Was he or she partner in Big 5 consulting?', 'Consulting experience?',
       'Local or global player', 'B2C or B2B venture?',
       'Average Years of experience for founder and co founder',
       'Breadth of experience across verticals', 'Years of education',
       'Relevance of education to venture',
       'Relevance of experience to venture',
       'Experience in selling and building products',
       'Dificulty of Obtaining Work force', 'Pricing Strategy',
       'Time to market service or product',
       'Barriers of entry for the competitors', 'Company awards',
       'Disruptiveness of technology', 'Gartner hype cycle stage'],axis='columns')

In [98]:
import matplotlib.pyplot as plt
import numpy as np
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report, confusion_matrix

X = data_final.drop(['status'], axis='columns')
y = data_final['status']
X

,Employee Count,Number of Investors in Seed,Number of Investors in Angel and or VC,Number of Co-founders,Number of of advisors,Team size Senior leadership,Number of of repeat investors,Worked in top companies_No,Worked in top companies_Yes,Have been part of startups in the past?_No,...,Company awards_No,Company awards_Yes,Disruptiveness of technology_High,Disruptiveness of technology_Low,Disruptiveness of technology_Medium,Gartner hype cycle stage_Peak,Gartner hype cycle stage_Plateau,Gartner hype cycle stage_Slope,Gartner hype cycle stage_Trigger,Gartner hype cycle stage_Trough
2,14,15,0,3,0,7,0,0,1,1,...,1,0,0,0,1,0,0,0,0,1
3,45,6,0,2,0,4,0,1,0,0,...,1,0,0,0,1,0,0,0,0,1
5,14,2,0,4,0,4,2,1,0,1,...,0,1,1,0,0,0,0,0,1,0
6,7,7,0,2,9,2,4,1,0,0,...,1,0,0,0,1,0,0,0,1,0
7,29,0,0,3,4,4,0,1,0,0,...,1,0,0,0,1,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
386,139,0,0,4,2,10,0,1,0,0,...,0,1,1,0,0,1,0,0,0,0
387,26,0,0,2,0,4,0,1,0,1,...,1,0,1,0,0,0,0,0,0,1
388,39,0,0,2,2,4,0,0,1,1,...,1,0,1,0,0,0,0,0,0,1
389,63,0,0,1,1,2,0,0,1,0,...,1,0,1,0,0,1,0,0,0,0
391,18,0,1,2,1,4,0,1,0,0,...,1,0,1,0,0,0,0,0,1,0

In [99]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.25,random_state=0)

In [100]:
from sklearn.linear_model import LogisticRegression
logreg = LogisticRegression(max_iter=10000)
logreg.fit(X,y)
y_pred=logreg.predict(X_test)
y_pred=np.round(y_pred)

In [101]:
from sklearn import metrics
cnf_matrix = metrics.confusion_matrix(y_test, y_pred)
cnf_matrix

array([[ 3,  3],
       [ 1, 41]])

In [102]:
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))
print("Precision:",metrics.precision_score(y_test, y_pred))
print("Recall:",metrics.recall_score(y_test, y_pred))

Accuracy: 0.9166666666666666
Precision: 0.9318181818181818
Recall: 0.9761904761904762

In [103]:
logreg.score(X,y)

0.8802083333333334

## Predicting Startup Success

Please insert the following details abot the startup you want to evaluate. At the end, insert the email you wish the results to be sent.

In [81]:
employee = input('Input the number of employees of the startup: ')

Input the number of employees of the startup: 20

In [82]:
seed = input('Input the number of Investors in Seed: ')

Input the number of Investors in Seed: 2

In [83]:
vc = input('Input the number of Investors in Angel and Seed: ')

Input the number of Investors in Angel and Seed: 2

In [84]:
advisors = input('Input the number of advisors: ')

Input the number of advisors: 0

In [105]:
co_founders = input('Input the number of co_founders: ')

Input the number of co_founders: 2

In [85]:
senior = input('Input the number of elements of senior leadership team: ')

Input the number of elements of senior leadership team: 3

In [86]:
repeat = input('Input the number of repeat investors: ')

Input the number of repeat investors: 1

In [20]:
top_comp = input('Did the founder work in top companies before? (Yes or No) ')

Did the founder work in top companies before? (Yes or No) Yes

In [25]:
past_su = input('Was the founder a part of startups in the past? (Yes or No) ')

Was the founder a part of startups in the past? (Yes or No) No

In [29]:
past_ssu = input('Was the founder a part of successful startups in the past? (Yes or No) ')

Was the founder a part of successful startups in the past? (Yes or No) No

In [32]:
big5 = input('Was the founder a partner in a Big5 before? (Yes or No) ')

Was the founder a partner in a Big5 before? (Yes or No)Yes

In [34]:
consulting = input('Does the founder have experience in consulting? (Yes or No) ')

Does the founder have experience in consulting? (Yes or No) Yes

In [35]:
where = input('Is the startup global or local? ')

Is the startup global or local? local

In [39]:
market = input('Is the company B2B or B2C? ')

Is the company B2B or B2C? B2C

In [43]:
experience = input('What is the level of experience for founder and co founder? (Low, Medium or High) ')

What is the level of experience for founder and co founder? (Low, Medium or High) Medium

In [46]:
experience1 = input('What is the breadth of experience of founder across verticals? (Low, Medium or High)')

What is the breadth of experience of founder across verticals? (Low, Medium or High)Medium

In [48]:
education = input('What is the highest education elevel of founder? (High-school, Bachelor or Masters) ')

What is the highest education elevel of founder? (High-school, Bachelor or Masters)Masters

In [52]:
ed_relevance = input("Is the founder's education relevant to the startup model? (Yes or No) ")

Is the founder's education relevant to the startup model? (Yes or No) Yes

In [55]:
ex_relevance = input("Is the founder's past experience relevant to the startup model? (Yes or No) ")

Is the founder's past experience relevant to the startup model? (Yes or No) Yes

In [60]:
selling = input("What is the level of experience of the founder in selling and building products? (None, Low, Medium, High) ")

What is the level of experience of the founder in selling and building products? (None, Low, Medium, High) High

In [64]:
workforce = input("What is the startup's difficulty level of Obtaining Work force? (Low,Medium,High) ")

What is the startup's difficulty level of Obtaining Work force? (Low,Medium,High) Medium

In [67]:
pricing = input('Does the startup has a pricing strategy? (Yes or No) ')

Does the startup has a pricing strategy? (Yes or No) No

In [69]:
time = input('What is the level of time to market of service or product sold? (Low, Medium, High) ')

What is the level of time to market of service or product sold? (Low, Medium, High) High

In [72]:
barriers = input('Are there barriers of entry for competitors? (Yes or No) ')

Are there barriers of entry for competitors? (Yes or No) Yes

In [74]:
awards = input('Was the startup given any awards? (Yes or No) ')

Was the startup given any awards? (Yes or No) No

In [78]:
disruptive = input('What is the level of the disruptiveness of technology? (Low, Medium, High) ')

What is the level of the disruptiveness of technology? (Low, Medium, High) High

In [117]:
gartner = input('What is the stage of product/service according to the Gartner hype cycle? (Trigger,Peak, Plateau, Slope, Trough)')

What is the stage of product/service according to the Gartner hype cycle? (Trigger,Peak, Plateau, Slope, Trough)Slope

In [122]:
email_receiver = input('Input your email, so we can send you the report. Thanks!')

Input your email, so we can send you the report. Thanks!telmabatista94@gmail.com

In [119]:
if top_comp == 'Yes':
    top_comp_yes = 1
    top_comp_no = 0
elif top_comp == 'No':
    top_comp_yes = 0
    top_comp_no = 1
else:
    print('Error in inputed variable.')
    
if past_su == 'Yes':
    past_su_yes = 1
    past_su_no = 0
elif past_su == 'No':
    past_su_yes = 0
    past_su_no = 1
else:
    print('Error in inputed variable.')
    
if past_ssu == 'Yes':
    past_ssu_yes = 1
    past_ssu_no = 0
elif past_ssu == 'No':
    past_ssu_yes = 0
    past_ssu_no = 1
else:
    print('Error in inputed variable.')

if big5 == 'Yes':
    big5_yes = 1
    big5_no = 0
elif big5 == 'No':
    big5_yes = 0
    big5_no = 1
else:
    print('Error in inputed variable.')
    
if consulting == 'Yes':
    consulting_yes = 1
    consulting_no = 0
elif consulting == 'No':
    consulting_yes = 0
    consulting_no = 1
else:
    print('Error in inputed variable.')
    
if where == 'local':
    where_local = 1
    where_global = 0
elif consulting == 'global':
    where_local = 0
    where_global = 1
else:
    print('Error in inputed variable.')

if market == 'B2B':
    market_B2B = 1
    market_B2C = 0
elif market == 'B2C':
    market_B2B = 0
    market_B2C = 1
else:
    print('Error in inputed variable.')

if experience == 'Low':
    experience_low = 1
    experience_medium = 0
    experience_high = 0
elif experience == 'Medium':
    experience_low = 0
    experience_medium = 1
    experience_high = 0
elif experience == 'High':
    experience_low = 0
    experience_medium = 0
    experience_high = 1
else:
    print('Error in inputed variable.')

if experience1 == 'Low':
    experience1_low = 1
    experience1_medium = 0
    experience1_high = 0
elif experience1 == 'Medium':
    experience1_low = 0
    experience1_medium = 1
    experience1_high = 0
elif experience1 == 'High':
    experience1_low = 0
    experience1_medium = 0
    experience1_high = 1
else:
    print('Error in inputed variable.')

if education == 'High-school':
    education_18 = 1
    education_21 = 0
    education_25 = 0
elif education == 'Bachelor':
    education_18 = 0
    education_21 = 1
    education_25 = 0
elif education == 'Masters':
    education_18 = 0
    education_21 = 0
    education_25 = 1
else:
    print('Error in inputed variable.')
    
if ed_relevance == 'Yes':
    ed_relevance_yes = 1
    ed_relevance_no = 0
elif ed_relevance == 'No':
    ed_relevance_yes = 0
    ed_relevance_no = 1
else:
    print('Error in inputed variable.')
    
if ex_relevance == 'Yes':
    ex_relevance_yes = 1
    ex_relevance_no = 0
elif ex_relevance == 'No':
    ex_relevance_yes = 0
    ex_relevance_no = 1
else:
    print('Error in inputed variable.')
    
if selling == 'None':
    selling_none = 1
    selling_low = 0
    selling_medium = 0
    selling_high = 0
elif selling == 'Low':
    selling_none = 0
    selling_low = 1
    selling_medium = 0
    selling_high = 0
elif selling == 'Medium':
    selling_none = 0
    selling_low = 0
    selling_medium = 1
    selling_high = 0
elif selling == 'High':
    selling_none = 0
    selling_low = 0
    selling_medium = 0
    selling_high = 1
else:
    print('Error in inputed variable.')
    
if workforce == 'Low':
    worforce_low = 1
    workforce_medium = 0
    workforce_high = 0
elif workforce == 'Medium':
    workforce_low = 0
    workforce_medium = 1
    workforce_high = 0
elif workforce == 'High':
    workforce_low = 0
    workforce_medium = 0
    workforce_high = 1
else:
    print('Error in inputed variable.')
    
if pricing == 'Yes':
    pricing_yes = 1
    pricing_no = 0
elif pricing == 'No':
    pricing_yes = 0
    pricing_no = 1
else:
    print('Error in inputed variable.')
    
if time == 'Low':
    time_low = 1
    time_medium = 0
    time_high = 0
elif time == 'Medium':
    time_low = 0
    time_medium = 1
    time_high = 0
elif time == 'High':
    time_low = 0
    time_medium = 0
    time_high = 1
else:
    print('Error in inputed variable.')

if barriers == 'Yes':
    barriers_yes = 1
    barriers_no = 0
elif barriers == 'No':
    barriers_yes = 0
    barriers_no = 1
else:
    print('Error in inputed variable.')
    
if awards == 'Yes':
    awards_yes = 1
    awards_no = 0
elif awards == 'No':
    awards_yes = 0
    awards_no = 1
else:
    print('Error in inputed variable.')

if disruptive == 'Low':
    disruptive_low = 1
    disruptive_medium = 0
    disruptive_high = 0
elif disruptive == 'Medium':
    disruptive_low = 0
    disruptive_medium = 1
    disruptive_high = 0
elif disruptive == 'High':
    disruptive_low = 0
    disruptive_medium = 0
    disruptive_high = 1
else:
    print('Error in inputed variable.')
                
if gartner == 'Trigger':
    gartner_tri = 1
    gartner_peak = 0
    gartner_pla = 0
    gartner_slo = 0
    gartner_tro = 0
elif gartner == 'Peak':
    gartner_tri = 0
    gartner_peak = 1
    gartner_pla = 0
    gartner_slo = 0
    gartner_tro = 0
elif gartner == 'Plateau':
    gartner_tri = 0
    gartner_peak = 0
    gartner_pla = 1
    gartner_slo = 0
    gartner_tro = 0
elif gartner == 'Slope':
    gartner_tri = 0
    gartner_peak = 0
    gartner_pla = 0
    gartner_slo = 1
    gartner_tro = 0
elif gartner == 'Through':
    gartner_tri = 0
    gartner_peak = 0
    gartner_pla = 0
    gartner_slo = 0
    gartner_tro = 1   
else:
    print('Error in inputed variable.')

In [120]:
d1 = X.iloc[0:0]
d1

new_row = {'Employee Count':employee ,'Number of Investors in Seed':seed,'Number of Investors in Angel and or VC':vc, 'Number of Co-founders':co_founders,
       'Number of of advisors':advisors, 'Team size Senior leadership':senior,
       'Number of of repeat investors':repeat, 'Worked in top companies_No':top_comp_no,
       'Worked in top companies_Yes':top_comp_no,
       'Have been part of startups in the past?_No':past_su_no,
       'Have been part of startups in the past?_Yes':past_su_no,
       'Have been part of successful startups in the past?_No':past_ssu_no,
       'Have been part of successful startups in the past?_Yes':past_ssu_yes,
       'Was he or she partner in Big 5 consulting?_No':big5_no,
       'Was he or she partner in Big 5 consulting?_Yes':big5_yes,
       'Consulting experience?_No':consulting_no, 'Consulting experience?_Yes':consulting_yes,
       'Local or global player_global':where_global, 'Local or global player_local':where_local,
       'B2C or B2B venture?_B2B':market_B2B, 'B2C or B2B venture?_B2C':market_B2C,
       'Average Years of experience for founder and co founder_High':experience_high,
       'Average Years of experience for founder and co founder_Low':experience_low,
       'Average Years of experience for founder and co founder_Medium':experience_medium,
       'Breadth of experience across verticals_High':experience1_high,
       'Breadth of experience across verticals_Low':experience1_low,
       'Breadth of experience across verticals_Medium':experience1_medium,
       'Years of education_18':education_18, 'Years of education_21':education_21,
       'Years of education_25':education_25, 'Relevance of education to venture_No':ed_relevance_no,
       'Relevance of education to venture_Yes':ed_relevance_yes,
       'Relevance of experience to venture_No':ex_relevance_no,
       'Relevance of experience to venture_Yes':ex_relevance_yes,
       'Experience in selling and building products_High':selling_high,
       'Experience in selling and building products_Low':selling_low,
       'Experience in selling and building products_Medium':selling_medium,
       'Experience in selling and building products_None':selling_none,
       'Dificulty of Obtaining Work force_High':workforce_high,
       'Dificulty of Obtaining Work force_Low':workforce_low,
       'Dificulty of Obtaining Work force_Medium':workforce_medium, 'Pricing Strategy_No':pricing_no,
       'Pricing Strategy_Yes':pricing_yes, 'Time to market service or product_High':time_high,
       'Time to market service or product_Low':time_low,
       'Time to market service or product_Medium':time_medium,
       'Barriers of entry for the competitors_No':barriers_no,
       'Barriers of entry for the competitors_Yes':barriers_yes, 'Company awards_No':awards_no,
       'Company awards_Yes':awards_yes, 'Disruptiveness of technology_High':disruptive_high,
       'Disruptiveness of technology_Low':disruptive_low,
       'Disruptiveness of technology_Medium':disruptive_medium, 'Gartner hype cycle stage_Peak':gartner_peak,
       'Gartner hype cycle stage_Plateau':gartner_pla, 'Gartner hype cycle stage_Slope':gartner_slo,
       'Gartner hype cycle stage_Trigger':gartner_tri, 'Gartner hype cycle stage_Trough':gartner_tro}

d1 = d1.append(new_row, ignore_index=True)

d1

,Employee Count,Number of Investors in Seed,Number of Investors in Angel and or VC,Number of Co-founders,Number of of advisors,Team size Senior leadership,Number of of repeat investors,Worked in top companies_No,Worked in top companies_Yes,Have been part of startups in the past?_No,...,Company awards_No,Company awards_Yes,Disruptiveness of technology_High,Disruptiveness of technology_Low,Disruptiveness of technology_Medium,Gartner hype cycle stage_Peak,Gartner hype cycle stage_Plateau,Gartner hype cycle stage_Slope,Gartner hype cycle stage_Trigger,Gartner hype cycle stage_Trough
0,20,2,2,2,0,3,1,0,0,1,...,1,0,1,0,0,0,0,1,0,0

In [126]:
y_pred = logreg.predict(d1)
prediction = y_pred[0]
prediction

1

In [129]:
import os
import smtplib
from email.message import EmailMessage

EMAIL_ADDRESS = os.environ.get("EMAIL_ADDRESS")
EMAIL_PASSWORD = os.environ.get("EMAIL_PASSWORD")

msg = EmailMessage()
msg["Subject"] = "Startup Success Model"
msg["From"] = EMAIL_ADDRESS
msg["To"] = email_receiver

if prediction == 1:
    msg.set_content("Congratulations! According to our model, and given the inputed data, the startup will be successful. Check this link for an indepth graphical analysis of startups factors predictive of succes: https://public.tableau.com/profile/telma.batista#!/vizhome/Start-upProject/Dashboard1")
else:
    msg.set_content("We're sorry, but according to our model, and given the inputed data, the startup will not succeed. Check this link for an indepth graphical analysis of startups factors predictive of succes: https://public.tableau.com/profile/telma.batista#!/vizhome/Start-upProject/Dashboard1")

with smtplib.SMTP_SSL("smtp.gmail.com", 465) as smtp:
    smtp.login(EMAIL_ADDRESS,EMAIL_PASSWORD)
    smtp.send_message(msg)